---
//import { version } from "astro";
---

<footer class="bg-gray-200 py-4 text-center">
	<div class="container mx-auto px-4">
		<!-- Your footer content here -->
		<a href="http://bytes4run.com" class="text-gray-500"
			>Copyright &copy; 2022 Bytes4Run</a
		>
		<ul class="list-none mt-4">
			<li class="inline-block mr-4">
				<a href="https://docs.astro.build" class="text-gray-500"
					>Documentation</a
				>
			</li>
			<li class="inline-block mr-4">
				<a href="https://astro.build/themes" class="text-gray-500"
					>Themes</a
				>
			</li>
			<li class="inline-block mr-4">
				<a href="https://astro.build" class="text-gray-500">Astro</a>
			</li>
		</ul>
	</div>
</footer>
