---
import Layout from "@Layouts/guest.astro";
import Card from "@Components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<img src="assets/img/logo.png" class="w-32 h-32 mb-4" />
		<h1 class="text-3xl font-bold mb-6">Welcome to <span class="text-gradient">Astro</span> Shopingui</h1>
		<p class="text-lg mb-4"></p>
		<h1>Welcome to <span class="text-gradient">Astro</span> Shopingui</h1>
		<p class="instructions">
			Navegue al recurso deseado
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/products"
				title="Productos"
				body="Creación y edición de productos"
			/>
			<Card
				href="/orders"
				title="Ordenes"
				body="Ordenes de compra (ventas)"
			/>
			<Card
				href="/combos"
				title="Combos"
				body="Combos de computadoras"
			/>
		</ul>
	</main>
</Layout>