---
import Mainlayout from "@Layouts/main.astro";
import Sidebar from "@Templates/sidebar.astro";
import Navbar from "@Templates/app.navbar.astro";
import Footer from "@Templates/app.footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Mainlayout title={title}>
	<Sidebar />
	<Navbar />
	<div class="flex
		pt-16
		overflow-hidden
		bg-gray-100
		dark:bg-gray-800">
		<main
			id="mainContent"
			class="relative
			w-full
			h-full
			overflow-y-auto
			md:ml-64
			lg:ml-64
			min-h-screen
			bg-gray-200
			dark:bg-gray-700"
		>
			<div
				class="rounded-lg
				shadow
				p-2
				my-4
				mx-2
				md:p-4
				xl:p-6
				bg-slate-100
				dark:bg-gray-600"
			>
				<slot />
			</div>
			<Footer />
		</main>
	</div>
</Mainlayout>
