---
import Mainlayout from "@Layouts/main.astro";
import Navbar from "@Templates/navbar.astro";
import Footer from "@Templates/footer.astro";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<Mainlayout title={title}>
	<Navbar />
	<div class="container mx-auto mt-8 px-4">
		<slot />
	</div>
	<Footer />
</Mainlayout>
